/* header */












/*  */
/* body */
















/*  */
/* footer */
div{
    /* border: 1px solid white; */
 padding: 0;
}

.footer{
    background-color:hsla(222,25%,20%,1);
    
}
.top{
    /* height: 60px; */
    background-color:  hsl(215,34%,15%);
}

.top a{
    font-weight: bolder;
    margin: 15px;
}

.contact
{
    background-color:hsla(222,25%,20%,1);
}
.contact a{
    color: #ABABAB;
    float: left;
}
.contact i{
    color: white;
}
.contact a:hover{
    color: white;
}
.contactbox{
    margin-top: 18px;
}
.contactbox p{
    font-size: 20px;

}
.contactbox.col{
    padding: 0;
}
.infor{
   background-color:hsla(222,25%,20%,1) ;
   border-top: 1px solid slategray;
}
.infor span{
    color: #ABABAB;;
    padding: 10px;
    font-size: 13px;
}

/* body cua Dat */


.radius{
    border-radius: 15px;
}


.p1{
     display: flex;
}
.p1 div{
   
    box-shadow: 2px 2px 4px #000000;
}
.add{
    border: 1px solid red;
    height: 630px;
    width: 30%;
    margin-right: 20px;
}
.addcontent{
    background-color: silver;
}
.video{
    border: 1px solid green;
    height: 630px;
    width: 69%;
}
.p2{
      box-shadow: 2px 2px 4px #000000;
      display: flex;
}
.p2 div{
    box-shadow: 2px 2px 4px #000000;
}
.lastyear{
    border: 1px solid blue;
    height: 630px;
    margin-right: 20px;
}
.event{
    border: 1px solid orange;
    height: 630px;
}












/*  */